---
import Layout from "../components/Layout.astro";
import Navbar from "../components/Navbar";
import Carousel from "../components/Carousel";
import ProductContent from "../components/ProductContent";
import Quantity from "../components/Quantity";
import AddToCartButton from "../components/AddToCartButton";
---

<Layout title="E-commerce product page | Frontend Mentor | Levell Mack">
  <main>
    <Navbar />
    <Carousel />
    <ProductContent />
    <Quantity />
    <AddToCartButton />
  </main>
  <div class="attribution absolute bottom-2 hidden">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Levell Mack</a>.
  </div>
</Layout>
