---
import Layout from "../components/Layout.astro";
import Navbar from "../components/Navbar";
import Carousel from "../components/Carousel";
import ProductContent from "../components/ProductContent";
import Quantity from "../components/Quantity";
import AddToCartButton from "../components/AddToCartButton";
import CartModal from "../components/CartModal";
import MenuSidebar from "../components/MenuSidebar";
import Footer from "../components/Footer";
---

<Layout title="E-commerce product page | Frontend Mentor | Levell Mack">
  <CartModal client:load/>
  <MenuSidebar client:load />
  <main class="">
    <Navbar client:load />
    <Carousel client:load />
    <ProductContent />
    <Quantity client:visible/>
    <AddToCartButton />
  </main>
  <Footer />
</Layout>
